{% macro render_assignment(asgn, qtypes=None) %}
<b>{{asgn['AssignmentId']}}</b>
<ul class="list-group">
    <li><i>Worker</i>: <code>{{asgn['WorkerId']}}</code> | Status: {{asgn['AssignmentStatus']}}</li>
    <!-- <li><b>HIT</b>: <a href="/mturk/HIT/{{asgn['HITId']}}"><code>{{asgn['HITId']}}</code></a> -->
    </li>
    <li><small> Submitted on {{asgn['SubmitTime']}} </small></li>
</ul>
{% if asgn['AssignmentStatus'] == 'Submitted' %}
<form method="POST" action="/mturk/assignment/{{asgn['AssignmentId']}}/approve">
    <button type="submit" value="Submit" class="col-2 mb-2 btn btn-success btn-sm">Approve and Pay</button>
    <span class="col-1"></span>
</form>
{% elif asgn['AssignmentStatus'] == 'Approved'  %}
    <p class="alert alert-success"> (Already approved)</p>
{% else %}
<p class="alert alert-warning"> (Approval is not applicable)</p>
{% endif %}

{% if qtypes %}

<form method="POST" action="/mturk/worker/{{asgn['WorkerId']}}/qualification">
    <div class="form-group" style="display: flex;">
        <label for="change-qualification" class="col">Assign Qualification to worker
            <code>{{asgn['WorkerId']}}</code></label>
        <select id="QualificationTypeId" name='QualificationTypeId' class="form-control col">
            <option selected></option>
            {% for qtype in qtypes %}
            <option value="{{qtype['QualificationTypeId']}}">
                {{qtype['Name']}} | {{qtype['QualificationTypeId']}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" value="Submit" class="mx-2 btn btn-info btn-sm"> Qualify Worker</button>
</form>
{% else %}
    <p class="alert alert-warning"> (No qualifications are available)</p>
{%endif%}

{% endmacro %}