{% extends 'base.html' %}
{% from '_macros.html' import render_assignment %}

{% block content %}
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../">MTurk</a></li>
      <li class="breadcrumb-item active"><a href="./">HITs</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{HIT_id}}</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-8">
      <h3>Assignments</h3>
      <div role="alert" class="alert {% if data['Assignments'] %}  alert-success {% else %}  alert-danger {% endif %}">
        Found {{ data['Assignments'] | length }} Assignments </div>
      
      <ol class="list-group">
        {% for asgn in data['Assignments'] %}
        <li class="list-group-item">
          {{ render_assignment(asgn, qtypes)}}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  </script>
  {% endblock %}