{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <h1 class="text-center">{% block title %} MTurk Qualifications {% endblock %}</h1>
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <p><b>Endpoint: </b><code> {{meta['endpoint_url']}}</code></p>
          <p>Found {{ qtypes | length}} Qualification Types </p>
        </div>
      </div>

      <ul class="list-group">
        {% for qtype in qtypes %}
        {% set qual_id = qtype['QualificationTypeId'] %}
        <li id='{{qual_id}}' class="list-group-item">
          <span>{{loop.index}} ― </span>
           <a href="qualification/{{ qual_id }}">{{ qual_id }} | {{ qtype['Name'] }}
          </a>
          <details>
            <summary>⤵</summary>
            <ul>
              {% for key, value in qtype.items() if key != 'QualificationTypeId' %}
              <li><b>{{key}}</b>: {{value}}</li>
              {% endfor %}
            </ul>
          </details>
          <button onclick="delete_qualification('{{qual_id }}')"> Delete</button>
        </li>
        {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</div>


<script>
  function delete_qualification(qual_id) {
    console.log('Going to delete qualification  ' + qual_id)
    $.ajax({
      url: "/mturk/qualification/" + qual_id,
      type: 'DELETE',
      success: function(result) {
          console.log('Delete Success')
          console.log(result)
          $('#'+qual_id).hide()
      },
      error: function(result) {
        alert("Error while deleting the qualification: " + qual_id )
        console.log('Error while deleting qualification')
        console.log(result)
      },
  });
  }
</script>
{% endblock %}